.App {
  text-align: center;
}
.data{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 200px;
  background-color: rgb(192, 192, 192);
  
}
.Greet{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 200px;
  background-image: url("https://th.bing.com/th/id/OIP.llDKmcgD98q5zwZ3KH19kQHaEo?rs=1&pid=ImgDetMain");

}
.title{
  text-align: center;
  color: whitesmoke;
}
.search{
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgb(180, 180, 180);
}